@import "./../../../../scss/variables";
@import "./../../../../scss/mixins";

.container {
  display: grid;
  grid-template-columns: $margenFooter auto $margenFooter;
  padding: 10px 0;
  color: $colorSecundario;
  @include Asmall() {
    color: black;
  }
  @include tabletLaptop() {
    grid-template-columns: 30% auto 17%;
  }
  p {
    font-size: 12px;
    align-self: center;
    text-align: center;
  }
}
